<component name="ArtifactManager">
  <artifact type="war" name="spring-security-login-example:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-login.war">
      <element id="artifact" artifact-name="spring-security-login-example:war exploded" />
    </root>
  </artifact>
</component>